/* ========================================== */
/*                General styles              */
/* ========================================== */


/* General styles */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Main content styles (Common to all pages) */
.main-content {
    margin-left: 48px;
    margin-top: 50px;
    padding: 20px;
}


.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    margin-bottom: 20px;  /* Adjust as needed */
}

.header-container h2 {
    font-size: 28px;
    margin-right: 20px; /* Adjust as per your need */
}
/* ========================================== */
/*              Base.html styles              */
/* ========================================== */

/* Top bar styles */
.top-bar {
    position: fixed;
    top: 0;
    left: 48px;
    width: calc(100% - 48px);
    background-color: #f3f3f3;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;
    height: 48px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgba(208, 208, 208, 0.5);
}


.top-bar .title {
    -webkit-text-size-adjust: 100%;
    font-variant: tabular-nums;
    font-feature-settings: "tnum","tnum";
    font-size: 18px;
    font-weight: 400;
    color: rgb(60, 65, 68);
    font-family: Roboto;
}

/* Left-side navigation bar styles */
.left-nav {
    position: fixed;
    top: 0;
    min-width: 48px;
    max-width: 48px;
    min-height: 100%;
    background: linear-gradient(0.63deg, rgb(49, 76, 101) 6.84%, rgb(30, 47, 63) 83.07%);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 99;
    box-shadow: rgba(51, 68, 81, 0.44) 1px 3px 4px;
}

.radware-logo {
    width: 24px;
    height: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    top: 0;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: flex; /* Change this to flex */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    height: 48px; /* Set the height of the anchor tags */
    width: 48px; /* Set the width of the anchor tags */
}


nav ul li a img {
    width: 30px; /* 20% smaller */
    height: 30px; /* 20% smaller */
    margin: 0; /* Remove the top margin */
}



.left-nav a {
    width: 38px; /* Set the width of the anchor tags */
    height: 38px; /* Set the height of the anchor tags */
    display: flex; /* Use flexbox to center the image */
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
}

.left-nav a:hover {
    background-color: rgba(255, 255, 255, 0.15); /* white with 75% transparency */
    border-radius: 5px; /* round edges */
}


/* ========================================== */
/*          configuration.html styles         */
/* ========================================== */

/* Run Test Form Styles */
.test-form {
    background-color: #f2f3f4; /* Change to your preferred color */
    border-radius: 10px; /* This will give the form rounded corners */
    padding: 20px; /* Add some padding so the content isn't touching the edges */
    margin-bottom: 20px; /* Add some space below the form */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Add a minor soft shadow */
        font-size: 12px;  // make the text smaller
}

.test-form td {
    border: 1px solid rgba(153, 153, 153, 0.2); /* Change border opacity to make it nearly invisible */
    padding: 10px; /* Add some padding so the content isn't touching the edges */
    width: 200px;
        font-size: 12px;  // make the text smaller
}

.test-form select, .test-form input[type="checkbox"] {
    width: 100%; /* Make the select and checkbox elements take up the full width of the cell */
        font-size: 12px;  // make the text smaller
}

/* Progress Bar Styles */
.progress-bar-container {
    background-color: #f2f3f4; /* Change to your preferred color */
    border-radius: 10px; /* This will give the progress bar container rounded corners */
    padding: 20px; /* Add some padding so the progress bar isn't touching the edges */
    margin-bottom: 20px; /* Add some space below the progress bar container */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Add a minor soft shadow */
        font-size: 12px;  // make the text smaller
}

.progress-bar {
    background-color: #007bff; /* Change to your preferred color */
    height: 20px; /* Change to your preferred height */
    border-radius: 10px; /* This will give the progress bar rounded corners */
    width: 0; /* Initially, the progress bar should be empty */
        font-size: 12px;  // make the text smaller
}

/* Progress Info Styles */
.progress-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add some space below the progress info */
    font-size: 12px;  // make the text smaller
}

/* Table styles (Used in Configurations page) */
.configurations-table {
    margin-top: 0;  /* Remove top margin */
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    table-layout: fixed;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Add a minor soft shadow */
}
.configurations-table tbody tr {
    background-color: #ffffff;
}
.configurations-table th, .configurations-table td {
    border: 1px solid rgba(153, 153, 153, 0.2); /* Change border opacity to make it nearly invisible */
    padding: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.configurations-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Add this for the empty cell in the top right corner */
.configurations-table th:last-child::before {
    content: "";
}

/* Add this for the edit form */
.conf-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

/* Modify this for the edit form */
.edit-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #999;
    z-index: 1000;
    width: 50%; /* Make the form wider */
}

.edit-form input {
    display: block;
    margin-bottom: 10px;
    width: 100%; /* Make the input fields fit the width of the form */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.edit-form button {
    margin-top: 10px;
}

.new-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #999;
    z-index: 1000;
    width: 50%; /* Make the form wider */
}

.new-form input {
    display: block;
    margin-bottom: 10px;
    width: 100%; /* Make the input fields fit the width of the form */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.new-form button {
    margin-top: 10px;
}

/* Tooltip styles for truncated cell text */
.configurations-table .tooltip {
    position: relative;
    display: inline-block;
}

.configurations-table .tooltip::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s;
}


.configurations-table th, .configurations-table td {
    border: 1px solid rgba(153, 153, 153, 0.2);
    padding: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;  // make the text smaller
}
.configurations-table .tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}

#save-edit {
    /* Your styles for the save button */
    background-color: grey;
    color: white;
    /* ... */
}
.edit-config,
.delete-config {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* ========================================== */
/*             tests.html styles              */
/* ========================================== */
.test-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
}
.very-narrow {
    width: 5%; /* adjust as needed */
}
.narrow {
    width: 10%; /* adjust as needed */
}
.wrap-text {
    white-space: normal;
    word-wrap: break-word;
}


.tests-table {
    margin-top: 0;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    table-layout: fixed;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}

.tests-table th, .tests-table td {
    border: 1px solid rgba(153, 153, 153, 0.5);
    padding-left: 10px;
    text-indent: 5px;
    padding: 0rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    font-size: 12px;  // make the text smaller
}

.tests-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tests-table th:last-child::before {
    content: "";
}
.popup-form {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    background: #fff;  /* Set form background to white */
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 800px;  /* Set maximum width of the form */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);  /* Add a little shadow to the form */
}


/* This will position the cell relatively, so the SVG icons will be positioned relative to the cell */
.hover-icons {
  position: relative;
}

/* This styles the SVG overlay */
.hover-icons .svg-overlay {
  display: none;  /* Initially hidden */
  position: absolute;  /* Positioned relative to the cell */
  bottom: 5px;  /* Positioned to the bottom-right corner */
  right: 5px;
}

/* This shows the SVG overlay when the cell is hovered over */
.hover-icons:hover .svg-overlay {
  display: block;
}

/* edit request properties form style */

.edit-request-properties-form .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 0;

}

.edit-request-properties-form .form-column {
    flex: 1;
}


.edit-request-properties-form .icon-plus,
.edit-request-properties-form .icon-trash {
    width: 20px;
    height: 20px;


}
.edit-request-properties-form .form-section {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}
.edit-request-properties-form label {
    font-size: 1em; /* adjust this value to match the size of the "Body Type" text */
}
.edit-request-properties-form label,
.edit-request-properties-form input {
    margin: 0;
    padding: 0;
}

.edit-payload-files-form {
    width: 80%; /* adjust this value as needed */
    margin: auto;
}

#payload-file-1,#payload-file-2,#payload-file-3,#payload-file-4,
#payload-file-5,#payload-file-6,#payload-file-7 {
    width: 600px; /* adjust this value as needed */
}

#expected-behavior-1,#expected-behavior-2,#expected-behavior-3,#expected-behavior-4,
#expected-behavior-5,#expected-behavior-6,#expected-behavior-7 {
    width: 150px; /* adjust this value as needed */
}

#header-name-1,#header-name-2,#header-name-3,#header-name-4,
#header-name-5,#header-name-6,#header-name-7 {
    width: 300px; /* adjust this value as needed */
}
#header-value-1,#header-value-2,#header-value-3,#header-value-4,
#header-value-5,#header-value-6,#header-value-7 {
    width: 300px; /* adjust this value as needed */
}

.payload-files-form-header {
   width: 600px;
}

.request-header-key-header {
   width: 300px;
}

.request-header-value-header {
   width: 300px;
}
/* This styles the SVG icons */
.hover-icons .svg-overlay img {
  width: 16px;  /* Set the size of the SVG icons here */
  height: 16px;
  margin-left: 5px;
}



.divided-cell, .request-properties-cell {
    display: table-cell;
    vertical-align: middle;
}



.cell-key, .cell-value {
    flex-basis: 50%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 2.0em; /* Set a minimum height for the cells */
}

.cell-key {
    border-right: 1px solid #ddd;
    padding-right: 10px;
    text-indent: 5px;
    margin-right: -1px;
}

.cell-value {
    padding-left: 0px; /* Add some padding to create space between the text and the border */
}

.cell-row {
    display: flex;
    justify-content: space-between;
    padding: 0px 0;
    width: 100%;
    border-bottom: 1px solid #ddd; /* Add a border to the bottom of each row */
}
.cell-key.wide {
    flex-basis: 130%;
}
.last-row {
    border-bottom: none;
}

.popup-form new-test-file-form {
  width: 50%;
}
/* ========================================== */
/*           database.html styles             */
/* ========================================== */
@import url('https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css');

.file-explorer-container {
    display: flex;
    border: 1px solid #999;
    height: 80vh;
    margin-bottom: 1rem;
    border-radius: 10px; /* Soft edges */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Slight drop shadow */
    overflow: hidden; /* Add this line */
}

.file-explorer {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 250px; /* Set a fixed width */
    min-width: 250px; /* Prevent the file explorer from shrinking */
    height: 100%;
    overflow: auto;
    border-right: 1px solid #999;
}

.CodeMirror {
    width: 100% !important;
    height: 100% !important;
}
.CodeMirror.cm-s-default.disabled {
    pointer-events: none !important;
    background-color: #f0f0f0 !important;
    opacity: 0.5 !important;
}

.CodeMirror-linenumber {
    color: #3e46c4 !important;
}

.file-explorer li {
    padding: 0.5rem;
    cursor: pointer;
}

.file-explorer li:hover {
    background-color: #f2f2f2;
}

.file-explorer li.directory::before {
    content: '';
}

.file-explorer li.file::before {
    content: '';
}

.arrow {
    margin-right: 5px;
    user-select: none;
}

.text-editor {
    flex-grow: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
    resize: none;
    font-family: monospace;
    font-size: 1rem;
    padding: 0.5rem;
    height: calc(100% - 1rem); /* Subtract the total vertical padding */
    overflow: auto; /* Add a scrollbar when necessary */
}

.text-editor:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.context-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 100;
  padding: 0;
  margin: 0;
}

.context-menu li {
  list-style-type: none;
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #f1f1f1;
}

.file-explorer-container {

}

.save-button-container {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    margin-bottom: 10px; /* Some space below the button */
}
.header-container.databases {
    display: flex;
    justify-content: space-between; /* Align items on the line */
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Some space below the header */
}


/* ========================================== */
/*           results.html styles              */
/* ========================================== */


#report-file-select {
  height: 38px;
}

#report-display {
  display: flex;
  justify-content: space-between;
}

.widget {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  overflow: auto;
}

.widget:first-child {
  flex: 1;
}

.widget:last-child {
  flex: 0 0 340px;
}

.chart-title {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}



