<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radware WAF Tester</title>
    <!-- Add favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {{ codemirror.include_codemirror() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>

    <!-- Top bar -->
    <div class="top-bar">
        <div class="title">
            Radware WAF Tester
        </div>
        <div class="clock">
            <span id="digital-clock"></span>
        </div>
    </div>

    <!-- Left-side navigation bar -->
    <div class="left-nav">
        <nav>
        <div class="radware-logo">
            <img src="{{ url_for('static', filename='icon_logo.svg') }}" alt="Logo">
        </div>
        <ul>
                <li><a id="nav-configurations" href="{{ url_for('configurations') }}"><img src="{{ url_for('static', filename='icon_configuration.svg') }}" data-active-src="{{ url_for('static', filename='icon_configuration-active.svg') }}" alt="Configurations"></a></li>
                <li><a id="nav-tests" href="{{ url_for('tests') }}"><img src="{{ url_for('static', filename='icon_tests.svg') }}" data-active-src="{{ url_for('static', filename='icon_tests-active.svg') }}"  alt="Tests"></a></li>
                <li><a id="nav-database" href="{{ url_for('database') }}"><img src="{{ url_for('static', filename='icon_database.svg') }}" data-active-src="{{ url_for('static', filename='icon_database-active.svg') }}"  alt="Database"></a></li>
                <li><a id="nav-results" href="{{ url_for('results') }}"><img src="{{ url_for('static', filename='icon_results.svg') }}" data-active-src="{{ url_for('static', filename='icon_results-active.svg') }}" alt="Results"></a></li>
        </ul>
    </nav>
    </div>

    <!-- Main content -->
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
