        {% extends 'base.html' %}

{% block content %}
        <div class="database-overlay"></div>
<div class="main-content container">
    <div class="header-container databases">
        <h2>Databases</h2>
        <button onclick="saveFileContent()" class="btn btn-primary">Save</button>
    </div>
    <div class="file-explorer-container">
        <ul id="file-explorer" class="file-explorer">
        </ul>
        <textarea id="text-editor" class="text-editor codemirror-textarea"></textarea>
    </div>


       <div class="popup-form new-db-file" style="display: none;">
       <div>
        <h3>Create New File</h3>
       </div>
       <div>
        <input type="text" id="new-db-file" placeholder="Filename">
       </div>
       <div>
        <button id="new-db-file-btn" class="btn btn-primary mt-3">Save</button>
       </div>
   </div>

<div class="popup-form edit-db-directory" style="display: none;">
    <div>
        <h3>Rename Directory</h3>
    </div>
    <div>
        <input type="text" id="edit-db-directory" placeholder="Directory Name">
    </div>
    <div>
        <button id="edit-db-directory-btn" class="btn btn-primary mt-3">Save</button>
    </div>
</div>

<div class="popup-form edit-db-file" style="display: none;">
    <div>
        <h3>Rename File</h3>
    </div>
    <div>
        <input type="text" id="edit-db-file" placeholder="Filename">
    </div>
    <div>
        <button id="edit-db-file-btn" class="btn btn-primary mt-3">Save</button>
    </div>
</div>


          <div class="popup-form new-db-directory" style="display: none;">
       <div>
        <h3>Create New Directory</h3>
       </div>
       <div>
        <input type="text" id="new-db-directory" placeholder="Directory Name">
       </div>
       <div>
        <button id="new-db-directory-btn" class="btn btn-primary mt-3">Save</button>
       </div>
   </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/mode/python/python.min.js"></script>
    <script src="/static/databases.js"></script>
</div>
{% endblock %}
