{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <h2>Run Test</h2>
<form class="test-form" id="run-test-form">
  <table>
    <thead>
      <tr>
        <th>Configuration File</th>
        <th>Tests File</th>
        <th>Detailed Success</th>
        <th>Detailed Failure</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select id="config-file-select"></select>
        </td>
        <td>
          <select id="test-file-select"></select>
        </td>
        <td>
          <input type="checkbox" id="detailed-success-checkbox">
        </td>
        <td>
          <input type="checkbox" id="detailed-failure-checkbox">
        </td>
        <td>
            <button id="run-test" class="btn btn-primary mb-3">Run Test</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
    <div class="progress-info">
        <div id="test-info">Tests: 0/0</div>
        <div id="current-test">Current Test: </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar" id="progress-bar"></div>
    </div>
<script src="{{ url_for('static', filename='runtest.js') }}"></script>
</div>
{% endblock %}