{% extends "base.html" %}

{% block title %}
Tests
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="main-content">
    <div class="header-container">
        <h2>Tests</h2>
        <button id="add-new-test" class="btn btn-primary mb-3">+ Add New</button> <!-- Add this line -->
    </div>
    <style>
    .clickable-cell {
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .clickable-cell:hover {
        background-color: #f5f5f5;
    }
</style>

    <table class="tests-table">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Category</th>
                <th>Test Name</th>
                <th>Skip</th>
                <th>Request Properties</th>
                <th>Payload Files</th>
                <th>Payload Location</th>
            </tr>
        </thead>
        <tbody id="test-table-body">
            {% set filename_counter = {} %}
            {% set category_counter = {} %}
            {% for row in configs.Rows %}
                {% do filename_counter.update({row.filename: filename_counter.get(row.filename, configs.MetaData[row.filename].total_tests) - 1}) %}
                {% do category_counter.update({(row.filename, row.category): category_counter.get((row.filename, row.category), configs.MetaData[row.filename][row.category].test_count) - 1}) %}
                <tr>
                    {% if filename_counter[row.filename] == configs.MetaData[row.filename].total_tests - 1 %}
                        <td class="clickable-cell" rowspan="{{ configs.MetaData[row.filename].total_tests }}">{{ row.filename }}</td>
                    {% endif %}
                    {% if category_counter[(row.filename, row.category)] == configs.MetaData[row.filename][row.category].test_count - 1 %}
                        <td rowspan="{{ configs.MetaData[row.filename][row.category].test_count }}">{{ row.category }}</td>
                    {% endif %}
                    <td class="clickable-cell">{{ row.test_name }}</td>
                    <td><input type="checkbox" name="skip" value="skip" {% if row.test_data.skip %} checked {% endif %}></td>
                    <td class="clickable-cell">
                        Headers: {{ row.test_data.headers }}<br>
                        Body Type: {{ row.test_data.body_type }}
                    </td>
                    <td class="clickable-cell">
                        {% for payload in row.test_data.payloads_files %}
                            {{ payload.file }} | {{ payload.expected }}<br>
                        {% endfor %}
                    </td>
                    <td class="clickable-cell">
                        URL: {{ row.test_data.payload_location.url }}<br>
                        Body: {{ row.test_data.payload_location.body }}<br>
                        Cookie: {% for cookie in row.test_data.payload_location.cookies %}{{ cookie }}{% if not loop.last %}, {% endif %}{% endfor %}<br>
                        Headers: {% for header in row.test_data.payload_location.headers %}{{ header }}{% if not loop.last %}, {% endif %}{% endfor %}<br>
                        Parameters: {% for parameter in row.test_data.payload_location.parameters %}{{ parameter }}{% if not loop.last %}, {% endif %}{% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
